@import "tailwindcss";

/* Your custom styles */
html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: #0f172a;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}